/*************************************************************************  

                              GLOBAL CARD

*************************************************************************/

.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  background: $white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;

  @include for-phone-only() {
    grid-column-start: span 4 !important;
    grid-column-end: span 4 !important;
  }

  .tag {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    align-self: flex-start;
    background: $black;
    color: $white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  h1.title {
    color: $white;
    line-height: 32px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .text {
    color: $white;
  }
}

/*************************************************************************  

                              EXPANDABLE CARD

*************************************************************************/

.card.expandable {
  .overlay {
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    //max-width: 990px;
    .close {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100vw;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  .card-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    pointer-events: none;

    &.open {
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      z-index: 1;

      .card-content {
        height: auto;
        max-width: 700px;
        overflow: hidden;
      }
    }

    .card-content {
      pointer-events: auto;
      position: relative;
      border-radius: 20px;
      background: #1c1c1e;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .content-container {
        padding: 460px 35px 35px 35px;
        max-width: 700px;
        width: 90vw;
      }
    }

    .content-container {
      //padding: 460px 35px 35px 35px;
      max-width: 700px;
      width: 90vw;
    }
  }

  .card-open-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .card-image-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 420px;
    width: 100vw;
    transform: translateZ(0);
  }

  .title-container {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
  }
}

/*************************************************************************  

                            Hero Card

*************************************************************************/

.card.hero {
  font-family: "SF", sans-serif;
  font-size: 4rem;
  color: white;
  background-image: url("/vd-compressed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  line-height: 60px;
  padding: 90px 20px;
  .title {
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .char {
    transform: translateY(115px);
    transition: all 0.5s;
  }

  .job {
    opacity: 0;
    color: #86868b;
    font-size: 2.5rem;
  }
}

/*************************************************************************  

                              HELLO CARD

*************************************************************************/

.card.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;

  h1 {
    color: $black;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
  }
}

/*************************************************************************  

                              LINKS CARD

*************************************************************************/

.card.links {
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .links-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    .link {
      cursor: pointer;
      width: 40px;
      height: 40px;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 0.7;
        transform: scale(1.1);
      }
    }
  }

  .flags-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .flag {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/*************************************************************************  

                              ABOUT CARD

*************************************************************************/

.card.about {
  grid-area: 3 / 1 / 5 / 2;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;
}

/*************************************************************************  

                              REACT CARD

*************************************************************************/

.card.react {
  grid-area: 3 / 2 / 4 / 4;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;

  .canvas {
    position: absolute !important;
    top: 0;
    left: 0;
  }
}

/*************************************************************************  

                              HTMLCSSJS CARD

*************************************************************************/

.card.htmlcssjs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  grid-area: 4 / 2 / 4 / 4;
  background: rgb(229, 96, 39);
  background: linear-gradient(
    112deg,
    rgba(229, 96, 39, 1) 0%,
    rgba(39, 96, 229, 1) 50%,
    rgba(242, 211, 35, 1) 100%
  );
  @include for-phone-only() {
    flex-direction: column;
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    .name {
      margin-top: 10px;
    }
  }
}

/*************************************************************************  

                              PHP CARD

*************************************************************************/

.card.php {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8992ba;
}

/*************************************************************************  

                              PHP CARD

*************************************************************************/

.card.php {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(137, 146, 186);
  background: linear-gradient(
    236deg,
    rgba(137, 146, 186, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

/*************************************************************************  

                              SQL CARD

*************************************************************************/

.card.sql {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url("/images/data2.jpg");
  background-size: cover;
  img {
    width: 150px;
    &:first-of-type {
      width: 130px;
    }
  }
}

/*************************************************************************  

                              WORK CARD

*************************************************************************/

.card.work {
  grid-area: 5 / 4 / 7 / 5;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;
}

/*************************************************************************  

                              ESURVEY CARD

*************************************************************************/

.card.esurvey {
  grid-area: 5 / 2 / 7 / 4;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;
}

/*************************************************************************  

                              3DIFFERENCES CARD

*************************************************************************/

.card.differences {
  grid-area: 5 / 1 / 6 / 2;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;
}

/*************************************************************************  

                              portfolio CARD

*************************************************************************/

.card.portfolio {
  grid-area: 6 / 1 / 7 / 2;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;
}

/*************************************************************************  

                              portfolio CARD

*************************************************************************/

.card.contact {
  grid-area: 7 / 1 / 8 / 5;
  background-image: url("/images/gradient3.jpg");
  background-size: cover;
}
