$color-primary: #1d3557;
$color-primary-lighter: #457b9d;
$color-primary-lightest: #a8dadc;

$esurvey: #7081dd;

$color-secondary: #e63946;

$color-background: #d7d7d7;

$green: #2ecc40;
$red: #ff4136;

$orange: #d6763b;

$white: #fafafa;
$black: #121517;
$grey: #86868b;
