li.card {
  cursor: pointer;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  overflow: auto;
  padding: 40px 0;

  -webkit-overflow-scrolling: touch;

  // &::-webkit-scrollbar {
  //   display: none;
  //   /* for Chrome, Safari, and Opera */
  // }

  // @include for-phone-only() {
  //   &::-webkit-scrollbar {
  //     display: block;
  //     /* for Chrome, Safari, and Opera */
  //   }
  // }
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  color: $black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 35px;
}

.open .card-content {
  height: auto;
  max-width: 700px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  a {
    display: flex;
    justify-content: center;
  }

  img {
    border-radius: 15px;
    max-width: 90%;
    cursor: pointer;
  }
}

.open .card-image-container,
.open .title-container {
  z-index: 1;
}

.open .title-container h2 {
  margin-top: 35px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open .title-container {
}

h2.title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  margin: 8px 0;
}

.category {
  color: $black;
  font-size: 14px;
  text-transform: uppercase;
}

.overlay {
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}

.content-container {
  padding: 35px 35px 35px 35px;
  max-width: 700px;
  width: 90vw;
}

.open .content-container {
  .presentation,
  .tech,
  .techstack {
    .text {
      padding: 30px 10px;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-primary;
  }

  .tags-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    .tag {
      background: $esurvey;
      color: $white;
      border-radius: 10px;
      padding: 5px 10px;

      &.back {
        background-color: $black;
      }
    }
  }
}

.open-button {
  background: white;
  padding: 0px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .chevron {
    color: black;
    width: 90%;
    height: 90%;
  }
}

.close-button {
  z-index: 20;
  background: white;
  padding: 0px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cross {
    color: black;
    width: 90%;
    height: 90%;
  }
}
