@tailwind base;
@tailwind components;
@tailwind utilities;

//PARAMETERS (colors and stuff)
@import "./parameters";
@import "./responsive";

@import "./layout";
@import "./card";
@import "./infinitetext";
// @import './pages/play';

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background: $color-background;
  }

  @font-face {
    font-family: "SF";
    font-weight: 400;
    src: url("/public/fonts/SFPRODISPLAYREGULAR.OTF");
  }
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
